body{
    background:url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg);
    background-size: cover;
    font-family: sans-serif;
}
header{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.head{
    float:left;
    color:#ffffff;
    font-family: cursive;
}
nav{
    float: right;
}
li{
    display:inline;
    padding:1rem;
}
li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
.active{
    color:yellow;
}
.continer{
    width:90%;
    margin:auto;
    overflow:hidden;
    margin-top: 1%;
}
showcase h1{
    text-align: center;
    color:#ffffff;
    font-family: cursive;
}
showcase h3{
    text-align: center;
    color:#ffffff;
    letter-spacing:2px ;
}
.category{
    margin-top: 5%;
    color:#ffffff;
    text-align: center;
    display: flex;
    font-family: cursive;
}
img{
    width:70%;
    border-radius: 50%;
}
.natikolisambar, .Gobi{
    padding-left: 1rem;
}
h4{
    font-size: 1rem;
    margin:3%;
}
showcase p{
    font-size:1rem;
}
.btn{
    background-color: blue;
    padding: 1rem;
    border:none;
    border-radius:2px;
    margin-left:45%;
}